.banner {
  position:absolute; 
  z-index:3;
  width: 100%;
}

.banner__info {
    background-color: black;
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}

.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__searchButton {
  background-color: #e68906 !important;
  text-transform: inherit !important;
  color: white !important;
  border-color: #e68906 !important;
  border-radius: 0px !important;
}

.banner__searchButton:hover {
  background-color: white !important;
  color: #e68906 !important;
  border-color: white !important;
}

.banner__info > button {
    background-color: #e68906;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > button:hover {
    background-color: white;
    color: #e68906;
  }
  

.banner__info > h5 {
    margin-top: 10px;
}